@keyframes MoveDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-3000vw);
  }
}

@keyframes MoveLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-3000vw);
  }
}


body {
  background-color: black;
  font-family: 'Times', Times, serif;
  color: white;
  margin: 0 !important;
  overflow-x: hidden;
  -webkit-font-smoothing: "antialiased"
}

body::-webkit-scrollbar {
  width: 26px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 2px 0 2px rgba(0, 0, 0, 0.3);
  border: dashed 1px white;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid white;
}

li {
  list-style-type: none;
}

.mobile-header {
  display: none;
}

.header {
  position: fixed;
  width: auto;
  z-index: 99
}

.logo {
  position: fixed;
  height: 100vh;
  width: 4vw;
  border-right: dashed 1px white;
  background-color: black;
  z-index: 90;
  overflow: hidden;
  z-index: 100
}


.logo h1 {
  animation: MoveDown 1000s infinite linear;
  writing-mode: vertical-lr;
  font-size: 40px;
  white-space: nowrap;
}

.header {
  background-color: black;
  border-bottom: dashed 1px white;
  width: 100vw;
}

.menu {
  padding: 0;
  text-transform: uppercase;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  width: 80%;
  margin: 10px auto;
}

.menu li {
  transform: skewX(-10deg);
}

a {
  color: white;
  text-decoration: none;
}


h1 {
  text-align: left;
  text-transform: uppercase;
  font-style: italic;
  margin: 0;
}

.photo-area {
  pointer-events: none;
  position: fixed;
  top: 50px;
  right: 60px;
  width: 50%;
  height: 100%;
  z-index: 1;
  opacity: 10%;
  background-image: url("background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.releases,
.trilhas,
.featurings {
  display: flex;
  justify-content: center;
  width: 100%
}

.releases-list,
.trilhas-list,
.featurings-list {
  z-index: 2;
  width: 50%;
  margin: 8vh auto 10vh;
}


.releases-list h2,
.trilhas-list h2,
.featurings-list h2 {
  font-size: 80px;
  margin: 0;
  color: white;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  transform: skewX(-12deg);
}

.releases-list ul,
.trilhas-list ul,
.featurings-list ul {
  margin: 0;
  padding: 0;
}

.releases-list div,
.trilhas-list div,
.featurings-list div {
  padding: 0 15px 20px;
}

.releases-list h3,
.trilhas-list h3,
.featurings-list h3 {
  font-size: 34px;
  margin-top: 0;
  text-align: center;
  font-style: italic;
}

.releases-list li,
.trilhas-list li,
.featurings-list li {
  padding: 16px 0;
  list-style-type: none;
}

.releases-list li a,
.trilhas-list li a,
.featurings-list a {
  display: flex;
  color: white;
  font-family: 'Palatino';
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
  justify-content: space-between;
  align-items: center;
  border-bottom: dashed 1px white;
}

.trilhas-list a,
.featurings-list a {
  text-align: right;
}

.releases-list p,
.trilhas-list p,
.featurings-list p {
  margin: 2px 0px 5px;
  padding: 0;
  list-style-type: none;
  text-align: right;
}


.trilhas-list a:hover .trilha-name,
.featurings-list a:hover .featuring-name {
  text-align: left;
}

.trilhas-list a:hover .artist-name,
.featurings-list a:hover .artist-name {
  display: none;
}

.trilhas-list a:hover .trilha-info,
.featurings-list a:hover .credit-info {
  text-transform: lowercase;
  text-align: right;
  opacity: 82%;
  display: block;
  transition: 0.5s ease;
  border-bottom: none;
}

.year h3 {
  font-weight: 100;
  font-size: 22px;
  transform: skewX(-36deg)
}


.trilha-info,
.label-info,
.credit-info {
  display: none;
}

.sobre {
  font-style: italic;
  display: flex;
  justify-content: center;
}

.sobre div {
  width: 30%;
  margin: 20vh auto;
}

.release-geral {
  margin-bottom: 30px;
}

.release-info h2 {
  font-size: 42px;
  text-transform: uppercase;
  font-style: italic;
  margin: 0
}

.release-info h3 {
  font-size: 35px;
  opacity: 77%;
  text-transform: uppercase;
  font-style: italic;
  margin: 0;
  transform: skew(-10deg);
}

.release-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.release-box div {
  width: 50%;
  margin: 10vh auto;
}

.release-box ol {
  padding: 0;
}


.release-image {
  display: block;
}



.release-image img {
  width: 400px;
  height: 400px;
  margin: auto;
  opacity: 100;
}

.release-info b {
  font-style: italic;
}

.release-info p,
.release-info li {
  font-family: 'Palatino'
}

.alternative-cover {
  display: none;
}

.release-image:hover .alternative-cover {
  display: block;
}

.release-image:hover .original-cover {
  display: none;
}



.embed {
  padding-top: 20px;
}

.embed a {
  border-bottom: solid 1px;
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  border-top: dashed 1px white;
  background-color: black;
  width: 100vw;
  overflow: hidden;
  height: 5vh;
  display: flex;
  align-items: center;
}


.footer span {
  text-transform: uppercase;
  margin: 10px 0;
  font-style: italic;
  font-size: 20px;
  white-space: nowrap;
  margin: 20px 0;
  animation: MoveLeft 900s infinite linear
}





















@media (max-width: 600px) {

  body::-webkit-scrollbar-track {
    border: none;
  }

  li:hover {
    transform: skew(0deg, 0deg);
  }

  .mobile-header {
    display: block;
    position: fixed;
    left: -10px;
    border-right: dotted 1px white;
  }

  .mobile-header ul {
    display: flex;
    writing-mode: vertical-lr;
    justify-content: space-between;
    height: 91%;
    margin: 0;
    padding: 15px;
  }

  .mobile-header li {
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
  }

  .logo {
    display: none;
  }

  .header {
    display: none;
  }

  main {
    padding-top: 0
  }

  .photo-area {
    opacity: 1%
  }

  .ul {
    margin-top: 100px !important;
  }

  .releases-list h2,
  .trilhas-list h2,
  .featurings-list h2 {
    font-size: 42px;
    border-bottom: solid 1px white;
    margin: 0;
    transform: translate(0);
    background-color: black;
    z-index: 20;
    position: fixed;
    width: 100vw;
    left: 0;
    padding: 10px 0;
    text-align: center;
  }

  .releases, .trilhas, .featurings {
    justify-content: flex-end;
    width: 73vw
  }

  .releases-list,
  .trilhas-list,
  .featurings-list {
    margin: -10vh;
    width: 50%
  }



  .releases-list div,
  .trilhas-list div,
  .featurings-list div {
    padding: 0
  }

  .releases-list li,
  .trilhas-list li,
  .featurings-list li {

  }

  .trilhas-list a:hover .trilha-info,
  .featurings-list a:hover .credit-info {
    display: none;
  }

  .releases-list li a {
    display: block;
    border-bottom: none;
  }

  .releases-list h3,
  .trilhas-list h3,
  .featurings-list h3 {
    display: none;
  }

  .releases-list li a,
  .trilhas-list li a,
  .featurings-list a {
    display: block;
    border-bottom: none;
  }


  .releases-list a,
  .trilhas-list a,
  .featurings-list a {
    text-align: center;
    border-bottom: none;
  }

  .release-name,
  .trilha-name,
  .featuring-name {
    font-size: 14px;
  }

  .artist-name {
    font-size: 12px;
  }

  .label-info,
  .trilha-info,
  .credit-info {
    display: none;
  }

  .sobre div {
    margin: 16vh auto;
    width: 70%;
    font-size: 15px;
    text-align: right;
  }

  .release {
    font-size: 14px;
    text-align: center;
  }

  .release-image img {
    width: 250px;
    height: 250px;
  }

  .release-box {
    display: block;
    padding: 50px 20px;
    text-align: right;
  }

  .release-box div {
    width: 100%;
    margin: 0;
  }



  .trilhas-list a:hover .trilha-name {
    text-align: right;
  }

.trilhas-list a:hover .artist-name,
.featurings-list a:hover .artist-name {
  display: block;
}

  .trilhas-list a:hover .trilha-info {
    text-align: right;
    font-size: 10px;
  }

  .release-geral {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .release-info h2 {
    font-size: 32px;
  }

  .release-info h3 {
    font-size: 28px;
  }

  .embed {
    padding-top: 1px;
  }


}